.cover{
    background: url('common/img/abstract.png') no-repeat ;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center; 
    display: flex;
    align-items: center;
}
.form-group{
    margin: 0 auto;
}
.jumbotron{
    background: beige;
}
.h-15{
    min-height: 100px;
}